{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="welcome-container container-fluid text-center">
        <h1>Season of Love</h1>
        <h2>GIVE A GIFT THEY'LL NEVER FORGET</h2>
    </div>
    <!--"Our Mission" section-->
    <div class="mission-section text-center">
        <div class="row">
            <div class="col-12 col-md-6">
                <img src="#">
            </div>
            <div class="col-12 col-md-6">
                <p>Our Mission</p>
            </div>
        </div>
    </div>

    <!--"Why we do it" section-->
    <div class="why-section container-fluid text-center">
        <h3>Why We Do It</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam adipisci ipsum ipsa, qui cumque atque ducimus doloremque, sequi voluptate sit exercitationem quibusdam porro quaerat quam quasi laudantium fugiat maiores delectus?</p>      
    </div>

    <!--"How it works" section-->
    <div class="how-section">
        <h3>How It Works</h3>
        <div class="row">
            <div class="col-12 col-md-4 col-lg-2">
                <p>Register</p>

            </div>
            <div class="col-12 col-md-4 col-lg-2">
                <p>Choose</p>

            </div>
            <div class="col-12 col-md-4 col-lg-2">
                <p>Send</p>

            </div>

        </div>

    </div>

{% endblock %}