{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="welcome-container container-fluid text-center">
        <h1>Season of Love </h1>
        <h2>GIVE A GIFT THEY'LL NEVER FORGET</h2>
    </div>
    <!--"Our Mission" section-->
    <div class="mission-section mb-5">      
        <div class="row">
            <div class="col-12 col-md-6">
                <img class="img-fluid px-4 d-none d-md-inline" src="static/images/home-snowglobe.png" id="snowglobe-image" alt="Snowglobe image">
            </div>
            <div class="col-12 col-md-6">
                <h3>Our Mission</h3>
                <div class="row mt-2">
                    <div class="col-2">
                        <span class="heart-icon">
                            <i class="far fa-heart"></i>
                        </span>
                    </div>
                    <div class="col-10">
                        <p><strong>Create Connections</strong><br><em>Bridge those in need with those who give</em></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <span class="heart-icon">
                            <i class="far fa-heart"></i>
                        </span>
                    </div>
                    <div class="col-10">
                        <p><strong>Create Hope</strong><br><em>Bring a little bit of holiday magic to those in need</em></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <span class="heart-icon">
                            <i class="far fa-heart"></i>
                        </span>
                    </div>
                    <div class="col-10">
                        <p><strong>Streamline Help</strong><br><em>Bring multiple charities to one location</em></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--"Why we do it" section-->
    <div class="why-section container-fluid text-center pt-4 pb-3 mb-5">
        <h3 class="pt-5"><strong>Why We Do It</strong></h3>
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 pb-5">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam adipisci ipsum ipsa, qui cumque atque ducimus doloremque, sequi voluptate sit exercitationem quibusdam porro quaerat quam quasi laudantium fugiat maiores delectus?</p>      
            </div>
        </div>
    </div>

    <!--"How it works" section-->
    <div class="how-section text-center mb-5">
        <h3 class="mb-4"><strong>How It Works</strong></h3>
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-3 col-lg-3 col-xl-2 text-center blue-box">
                <span class="snowflake-icon">
                    <i class="far fa-snowflake"></i>
                </span>
                <h4><strong>Register</strong></h4>
                <p>
                    You can register for the website using <a href="/accounts/login/">the sign up form.</a>
                    Once registered you can update your profile to either a charity or donor type when you log in.
                    Charities will be required to send identification before being able to access
                    the sites functionality. Information on this will be communicated on the profile page.
                </p>

            </div>
            <div class="col-12 col-md-3 col-lg-3 col-xl-2 text-center blue-box">
                <span class="snowflake-icon">
                    <i class="far fa-snowflake"></i>
                </span>
                <h4><strong>Choose</strong></h4>
                <p>
                    Verfied charities will add gift requests which can be viewed on the gifts page.
                    A list of gifts that have not yet been recieved by the charity will be listed,
                    some of them may of already been committed to and will not have a buy option.
                    If you would like to purchase it, click the buy option and it will take you to the 
                    gifts page to confirm.
                </p>

            </div>
            <div class="col-12 col-md-3 col-lg-3 col-xl-2 text-center blue-box">
                <span class="snowflake-icon">
                    <i class="far fa-snowflake"></i>
                </span>
                <h4><strong>Send</strong></h4>
                <p>
                    Once you have committed to buy a gift, you will be given postal details on where
                    to send the gift and the status of the gift will become "committed" until it's 
                    received and no buy option will be available. Once the charity have received the gift,
                    they will update the gifts status and it will no longer display on the gifts page.             
                </p>
            </div>
        </div>
    </div>

{% endblock %}