{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="page-top-banner">
    <h1 class="p-5">Update Profile Information</h1>
</div>
    <div class="edit-profile-container">
        <p class="fs-6">If you are a donor, please add N/A to the organisation name field.</p>
        <p class="fs-6">Warning, if you change your Organisation name, listed gifts will be deleted.</p>
        <form method="POST" action="{% url 'edit_profile' request.user %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                {{ field | as_crispy_field }}
            {% endfor %}
            <button type="submit" class="btn mb-4">Update</button>
        </form>
    </div>
{% endblock %}