{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="container-fluid page-top-banner p-5">
    <h1>Profile Page</h1>
</div>

<!-- <div class="row d-flex justify-content-center mt-3 profile-info">
    <div class="col-12 col-md-6 col-lg-5"> -->
    <div class="profile-descrip container">
        <div class="row">
        <div class="col-12 col-md-6">
            <h3><strong>Details</strong></h3>
        {% if profile %}
            {% if profile.name %}
                <p><strong>Name</strong>: {{profile.name}}</p>
            {% endif %}
            {% if profile.organisation_name %}
                <p><strong>Organization</strong>: {{profile.organisation_name}}</p>
            {% endif %}
            <p><strong>Profile Type</strong>: {{profile.type|title}}</p>
        {% else %}
            <p>You have not updated your profile information.</p>
            <p>Please enter your details below</p>
        {% endif %}
        <a class="btn mb-5" href="{% url 'edit_profile' request.user %}">Edit Profile</a>
        </div>
        <div class="col-12 col-md-6">
        {% if profile.type == 'charity' %}
            <h3><strong>Address</strong></h3>
            {% if address %}
                <p>{{address.organisation_name}}</p>
                <p>{{address.address_line_one}}</p>
                <p>{{address.address_line_two}}</p>
                {% if address.address_line_three %}
                    <p>{{address.address_line_three}}</p>
                {% endif %}
                {% if address.county %}
                    <p>{{address.county}}</p>
                {% endif %}
                <p>{{address.country}}</p>
                <p>{{address.postcode}}</p>
            {% else %}
                <p>You have not updated your organisations contact information.</p>
                <p>Please enter your contact address details below</p>
            {% endif %}
            <a class="btn mb-4" href="{% url 'edit_address' request.user %}">Edit Address</a>
        {% endif %}
        </div>
    </div>
    <h3><strong>Your Gifts</strong></h3>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
              <th scope="col">Gift Desctription</th>
              <th scope="col">Estimated Price</th>
              <th scope="col">Age Range</th>
            </tr>
          </thead>
          <tbody>
            {% if gifts %}
            {% for gift in gifts %}
            <tr>
                <!-- gift description -->
                <td>{{ gift.description }}</td>
                <!-- gift rough price -->
                <td>£{{ gift.estimated_price }}</td>
                <!-- child age -->
                <td>{{ gift.age_range}}</td>
            </tr>
            {% endfor %}
            {% endif %}
          </tbody>
    </table>
</div>
    
    

{% endblock %}