{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}" type="text/css">
{% endblock %}

{% block content %}

<div class="page-top-banner">
    <h1 class="p-5 text-uppercase">Gift Viewer</h1>
</div>

<div id="gift-viewer-container">
    <h3><strong> {{ gift.description }}</strong></h3>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <!-- gift description -->
                <!-- gift image -->        
                <img class="img-fluid" src="{{ gift.image.url }}" alt="{{ gift.description }}">
                <!-- gift rough price -->
            </div>
            <div class="col-sm-12 col-md-6">
                <h5><strong>Estimated Price</strong>: £{{ gift.estimated_price }}</h5>
                <!-- child age -->
                <h5><strong>Age Range</strong>: {{ gift.age_range}}</h5>
                <p>By submitting this form you agree to purchase the gift and send it to the registered charity</p>
                <form method="POST" action="{% url 'view_gift' request.user gift.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    <button class="btn" type="submit">Submit</button>
                </form>
            </div>
    </div>
    </div>
{% if request.user == gift.committed_by %}
    <div class="address-line-height">
        <h5><strong>Address</strong></h5>
        <p>{{gift.organisation_name}}</p>
        <p>{{address.address_line_one}}</p>
        <p>{{address.address_line_two}}</p>
        <p>{{address.address_line_three}}</p>
        <p>{{address.county}}</p>
        <p>{{address.country}}</p>
        <p>{{address.postcode}}</p>
    </div>
</div>

{% endif %}
{% endblock %}