.profile-descrip {
    line-height: 13px;
    margin-top: 25px;
}

.table {
    margin-top: 25px;
}

.edit-profile-container {
    width: 380px;
    border: var(--snowflake-blue) 3px solid;
    border-radius: 3px;
    background-color: var(--light-blue);
    margin: 25px auto;
}