.profile-descrip {
    line-height: 13px;
    margin-top: 48px;
}

.profile-descrip h3 {
    margin-bottom: 15px;
}

.table {
    margin-bottom: 48px;
}

div.custom-line-height {
    line-height: 26px;
}

/* Forms for editing charity info */

.edit-profile-container {
    width: 64vw;
    border: var(--snowflake-blue) 3px solid;
    border-radius: 3px;
    background-color: var(--light-blue);
    margin: 48px auto;
    padding: 16px 16px 0 16px;
}

.edit-profile-container form button {
    margin-top: 16px;
    border-radius: 5px;
}

/* Add Gifts */

.btn.btn-file.col-6.pe-2 {
    margin-top: 16px;
    border-radius: 5px;
}

/* View Gift */

#gift-viewer-container {
    width: 64vw;
    border: var(--snowflake-blue) 3px solid;
    border-radius: 3px;
    background-color: var(--light-blue);
    margin: 48px auto;
    padding: 16px 16px 0 16px;
}

.address-line-height {
    line-height: 10px;
}

#gift-viewer-container img {
    padding: 0 16px 16px 0;
}

#gift-viewer-container button {
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .edit-profile-container {
        width: 93vw;
    }
    .view-gift-container {
        width: 93vw;
    }          
}

/* Next three queries make the span and button in add gift form act the same */
@media screen and (min-width: 768px) and (max-width: 844px) {
    .btn.btn-file.col-6.pe-2 .icon.p-2 {
        display: block;
        padding: 0 0.75rem !important;
    }     
}

@media screen and (min-width: 493px) and (max-width: 580px) {
    .btn.btn-file.col-6.pe-2 .icon.p-2 {
        display: block;
        padding: 0 0.75rem !important;
    }     
}

@media screen and (max-width: 492px) {
    .btn.btn-file.col-6.pe-2 .icon.p-2 {
        display: inline-block;
        padding: 0 0.75rem !important;
    }     
}

@media screen and (min-width: 989px) {
    .edit-profile-container {
        width: 33vw;
    }        
}