@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;600;700&family=Meow+Script&display=swap');

:root {
    --primary: #161F3C;
    --secondary: #EEE2D6;
  }

.test {
    color: #3eabeb;
}

#primary-secondary-pallatte {
    background-color: var(--primary);
    color: var(--secondary);
}

/* Navigation */

.navbar-light .navbar-brand {
    color: var(--secondary);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--secondary);
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28238, 226, 214, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler {
    border: 1px solid var(--secondary);
}

body {
    font-family: 'Baloo Bhaijaan 2', sans-serif;
}

/* Footer */


/* HOME PAGE */

.welcome-container {
    background-color: #C6DFF3;
    background-image: url("/media/hero-img.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.welcome-container h1 {
    font-family: 'Meow Script', cursive;
}

/* Mission Statement */

.mission-section {
    width: 60%;
    margin: auto;
}

.heart-icon, .snowflake-icon {
    color: #4E66AC;
    font-size: 2.5rem;
    text-align: center;
}

/* Why We Do It section*/

.why-section {
    color: #EEE2D6;
    background-color: #161F3C;
}

/* How it works section*/

.how-section {
    margin: 10px;
}


.snowflake-icon {
    color: #859AD1;
    font-size: 2.5rem;
    text-align: center;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1200px) {}
@media only screen and (max-width: 992px) {}
@media only screen and (max-width: 768px) {
    .mission-section {
        width: 80%;
    }
}
@media only screen and (max-width: 576px) {
    .mission-section {
        width: 95%;
    }
}