{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}
    <div class="page-top-banner">
        <h1 class="p-5">{% trans "Password Reset" %}</h1>
    </div>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <div class="row d-flex justify-content-center mt-5 mb-4">
        <div class="col-12 col-md-8 col-lg-4 contact-container p-3">
    <p class="text-center">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <a class="btn btn-outline-black rounded-0 mb-4" href="{% url 'account_login' %}">Back to Login</a>
        <input type="submit" class="btn mb-4" value="{% trans 'Reset My Password' %}" />
    </form>

    <p class="text-center">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>

</div>
</div>
    {% endblock %}