  
{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
    <div class="page-top-banner">
        <h1 class="p-5">{% trans "Set Password" %}</h1>
    </div>
    <div class="row d-flex justify-content-center mt-5 mb-4">
        <div class="col-12 col-md-8 col-lg-4 contact-container p-3">
            <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" name="action" class="btn mb-4" value="{% trans 'Set Password' %}"/>
            </form>
        </div>
    </div>
{% endblock %}