<!-- Edited from the basic example: https://mdbootstrap.com/docs/standard/navigation/footer/ -->
<footer class="text-center">
    <section class="text-center justify-content-center justify-content-lg-between">
        <div class="container-fluid footer-container p-4">
            <a href="" class="me-4 text-reset">
            <i class="fab fa-facebook-f"></i></a>
            <a href="" class="me-4 text-reset">
            <i class="fab fa-twitter"></i></a>
            <a href="" class="me-4 text-reset">
            <i class="fab fa-instagram"></i></a>
            <a href="" class="me-4 text-reset">
            <i class="fab fa-linkedin"></i></a>
        </div>
    </section>
</footer>
